
* {
    margin: 0;
    padding: 0;
}

main {
    position: fixed;
}

@font-face {
    font-family: rock;
    src: url(fonts/ROCK.TTF);
}

@font-face {
    font-family: ppneuebitbold;
    src: url(fonts/PPNeueBit-Bold.otf);
}

@font-face {
    font-family: montserrat;
    src: url(fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: sophia;
    src: url(fonts/SOPHIA\ demo.ttf);
}


#mARK {
    position: absolute;
    top: 0;
    right: 0;
    background-color: hsl(0, 0%, 100%);
    z-index: 10;
    height: 5vh;
    font-size: 2vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


body {
    background-color: #fff9ec;
  }



p1{
    font-family: ppneuebitbold;
    font-size: 130px;
    transform: scaleY(0.8);
    transform-origin: bottom;
    line-height: 0.83;
    color: #b5bfb6;
    /* background-color: black; */
}


p2{
    font-family: rock;
    font-size: 20px;
    color: #cf9c7f;
    line-height: 20px;
    height: 20px;
    text-decoration: underline;
    /* background-color: black; */
}

p3{
    font-family: montserrat;
    font-size: 18px;
    color: #ffffff;
    line-height: 23px;
}


p4{
    font-family: sophia;
    font-size: 30vh;
    line-height: 24vh;
    color: #93baee;
    transform: scaleX(0.7);

}






#introsection {
    position: sticky;
    top: 0;
    z-index: 1;
}


#topsection {
    width: 100%;
    background-color: transparent;
    transition: background-color 1s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;

}


#header {
    width: 84%;
    height: 40px;
    border-style: dashed;
    border-width: 3px;
    border-color: #cf9c7f;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 3%;
}

#logoroom {
    display: flex;
    width: 12%;
    justify-content: center;
    align-items: center;
    background-color:transparent;
    transition: background-color 1s ease;
    height: 60px;
}

.logoimage {
    height: 60px;
}



#color-btn {
    background-color: transparent;
    border-right: 3px dashed rgb(207, 156, 127);
    /* padding: 10px; */
    /* border-radius: 5px; */
    cursor: pointer;
    width: 30%;
    height: 100%;
}

#color-btn:hover {
    background-color: rgb(207, 156, 127);
}

#topsection.no-bg {
    background-color: none;
}




















#section1 {
    width: 100%;
    background-color: transparent;
    transition: background-color 1s ease;
    display: flex;
    /* flex-direction: row\\; */
    justify-content: center;
    height: 48vh;

}

#section1box1 {
    justify-content: left;
    background-color: transparent;
    transition: background-color 1s ease;
    width: 75%;
    display:flex;
    align-items: flex-end;
}

#downtriangle {
    /* background-color: blue; */
    color: #cf9c7f;
    /* transform: scaleY(0.7); */
}   


#section2 {
    background-color: transparent;
    transition: background-color 1s ease;
    flex-direction: row;
    display: flex;
    justify-content: center;
    height: 15vh;

}


#section2box1 {
    background-color: transparent;
    transition: background-color 1s ease;
    display: flex;
    justify-content: left;
    z-index: 1;
    height: auto;
    width: 65%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#cvs {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
    transition: background-color 1s ease;
    width: 25%;
    height: auto;
}

#cvs2 {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    flex-direction: row;
    background-color: transparent;
    transition: background-color 1s ease;
    width: 25%;
    height: auto;
}

.img2 {
    width: 57px;
    height: 57px;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    -o-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }








/* 
#blank1 {
    width: 50%;
    background-color: #ee77a9;
} */

#aboutsection{
    width: 100%;
    /* height: 16vh; */
    overflow: visible;
    position: sticky;
    top: 0;
    z-index: 2;
    
}

#section3 {
    background-color: rgb(207, 156, 127);
    display: flex;
    justify-content: center;
    align-items: center;


   
}

#section3box1 {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}

#aboutmyself {
    width: 49%;
    border-top: 3px dashed rgb(255, 255, 255);
    text-align: justify;
}

#selfie {
    width: 49%;
}







#portfoliosection {
    background-color: #fff9ec;
    height: 100vh;
    width: 100%;
    position: sticky;
    bottom: -90vh;
    z-index: 3;
}

#bluebanner {
    /* font-family: sophia;
    font-size: 30vh;
    line-height: 24vh;
    color: #93baee; */
    overflow: hidden;
    /* font-weight: 600; */
}

.marquee {
    display: block;
    overflow: hidden;
    white-space: nowrap;
  }
  

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 1000s linear infinite;
    animation-delay: -10s;
}


  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  







#workgridcontainer {
    display: flex;
    justify-content: center;
  }

#workgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    max-width: 1680px;
    /* background-color: #e1e9f5; */
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 3vw;
    row-gap: 8px; 
    column-gap: 15px;
  }


.description {
    height: 6vw;
    /* background-color: #d0e4e3; */
    font-family: rock;
    font-size: 1.5vw;
    line-height: 1.6vw;
    color: #cf9c7f;
    text-decoration: underline;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 8px;
  }



.webicon {
    width: 100%;
}



#knollbox {
    /* grid-column: 1;
    grid-row: 1; */
    width: 100%;
    justify-self: start;
    /* background-color: #dbdbdb; */
    /* display: flex;
    flex-direction: column; */
  }

#knollwebicon {
    width: 100%;
    
}



#blmbox {
    /* grid-column: 2;
    grid-row: 1; */
    width: 100%;
    justify-self: start;
    /* background-color: #e6c889; */
}
#blmwebicon {
    width: 100%;
    
}



#concertbox {
    /* grid-column: 1;
    grid-row: 2; */
    width: 100%;
    justify-self: start;
}
#concertwebicon {
    width: 100%;

}



#dstylebox {
    /* grid-column: 2;
    grid-row: 2; */
    width: 100%;
    justify-self: start;
}
#dstylewebicon {
    width: 100%;

}



#changebox {
    /* grid-column: 1;
    grid-row: 3; */
    width: 100%;
    justify-self: start;
}
#changewebicon {
    width: 100%;

}



#xnodebox {
    /* grid-column: 2;
    grid-row: 3; */
    width: 100%;
    justify-self: start;
}
#xnodewebicon {
    width: 100%;

}



#webbox {
    /* grid-column: 1;
    grid-row: 4; */
    width: 100%;
    justify-self: start;
}
#webwebicon {
    width: 100%;

}



#naturebox {
    /* grid-column: 2;
    grid-row: 4; */
    width: 100%;
    justify-self: start;
}
#naturewebicon {
    width: 100%;

}



#motionbox {
    /* grid-column: 2;
    grid-row: 5; */
    width: 100%;
    justify-self: start;
}
#motionwebicon {
    width: 100%;

}



#sktinterviewbox {
    /* grid-column: 1;
    grid-row: 5; */
    width: 100%;
    justify-self: start;
}
#sktinterviewwebicon {
    width: 100%;

}

















































.containercenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}





.fullpagecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}










#knollstuff {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.knollposters {
    max-height: 90vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    max-width: 95vw;
}












#blmstuff {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000000;
    width: 100%;
    position: sticky;
}



#blmgif {
    width: 90vw;
    max-width: 1920px;
}



#blmcover {
    width: 90vw;
    max-width: 1920px;
}




#blmgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    width: 90vw;
    max-width: 1920px;
    row-gap: 10vh; 
    /* column-gap: 5vw; */
    /* background-color: #e0f1e1; */
    margin-top: 20vh;
}








#blmp1 {
    /* grid-column: 1;
    grid-row: 1; */
    width: 100%;
    justify-self: start;
}

#blmp2 {
    /* grid-column: 2;
    grid-row: 1; */
    width: 100%;
    justify-self: start;

}

#blmp3 {
    /* grid-column: 1;
    grid-row: 2; */
    width: 100%;
    justify-self: start;
}

#blmp4 {
    /* grid-column: 2;
    grid-row: 2; */
    width: 100%;
    justify-self: start;
}

#blmp5 {
    /* grid-column: 1;
    grid-row: 3; */
    width: 100%;
    justify-self: start;
}

#blmp6 {
    /* grid-column: 2;
    grid-row: 3; */
    width: 100%;
    justify-self: start;
}

#blmp7 {
    /* grid-column: 1;
    grid-row: 4; */
    width: 100%;
    justify-self: start;
}




#blmmockup {
    width: 90vw;
    max-width: 1920px;
}


















#concertstuff {
    width: 100%;
    background-color:#131313;
    display: flex;
    flex-direction: column;

}



#pianomotionposter {
    max-height: 80vh;
    max-width: 95vw;
}


#jazz {
    max-height: 80vh;
}


















#dstylegrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: repeat(4, 1fr);
    width: 90vw;
    max-width: 1920px;
    row-gap: 8vh; 
    column-gap: 5vw;
    background-color: #fff9ec;
    margin-top: 10vh;
    margin-bottom: 20vh;
}

.blmgridcell {
    width: 100%;
    justify-self: start;
}

.griditem {
    width: 100%;
}

.dstyletitle {
    font-family: montserrat;
    font-size: 0.8vw;
    line-height: 0.8vw;
    justify-self: start;
    margin-top: 0.5vh;
    color: #5c5c5c;
}














#changevid {
    width: 100%;
}















#xnodegrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: repeat(2, 1fr);
    width: 90vw;
    max-width: 1920px;
    row-gap: 8vh; 
    column-gap: 5vw;
    background-color: rgb(211, 211, 211);
    margin-top: 10vh;
    margin-bottom: 20vh;
}












.naturehori {
    width: 70vw;
    max-width: 1680px;
}

.naturevert {
    max-height: 100vh;
    max-width: 1680px;
    margin-top: 10vh;
}

.naturevert2 {
    max-height: 80vh;
    max-width: 1680px;
    margin-bottom: 10vh;
}



.naturegrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    width: 80vw;
    max-width: 1920px;
    row-gap: 8vh; 
    column-gap: 5vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    /* background-color: #5c5c5c; */
}













#sktinterviewgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    width: 90vw;
    max-width: 1920px;
    row-gap: 10vh; 
    column-gap: 1px;
    /* background-color: #000000; */
    margin-top: 10vh;
    margin-bottom: 20vh;
    z-index: 3;
}

#blackchungus {

    width: 70vw;
    height: 270vh;
    max-width: 1600px;
    margin-top: 20vh;
    margin-bottom: 30vh;
    background-color:  #000000;
    position: absolute;
}
    

.sktpage1 {
    max-width: 100%;
    max-height: 90vh;
    justify-self: end;
}

.sktpage2 {
    max-width: 100%;
    max-height: 90vh;
    justify-self: start;
}










@media only screen and (max-width: 1200px) {

    #topsection {
        height: 10vh;
    }

    #section1 {
        height: 50vh;
        background-color: #eeede3;
    }

    #section1box1 {
        width: 95%;
    }

    #section2 {
        height: 20vh;
    }

    #portfoliosection {
        bottom: -94vh;
    }
    
    #downtriangle {
        font-size: 22vw;
    }

    p1 {
        font-size: 12vw;
        text-align: justify;
    }

    p1 span1 {
        font-size: 19.8vw;
        line-height: 8vw;
        
    }

    p1 span2 {
        font-size: 56.5vw;
        line-height: 25vw;
        letter-spacing: -2vw;
    }

    p1 span3 {
        font-size: 14.5vw;
        line-height: 6vw;

    }

    p1 span4 {
        font-size: 14.3vw;
        line-height: 6vw;

    }

    p3 {
        font-size: 12px;
        line-height: 12px;
    }

    p4 {
        font-size: 10vh;
        line-height: 9vh;
    }

    #cvs {
        flex-direction: column;
        justify-content: center;
        width: 50%;
    }

    #cvs2 {
        flex-direction: column;
        justify-content: center;
        width: 50%;
    }

    #section3box1 {
        flex-direction:column-reverse;
        width: 95%;
    }  

    #aboutmyself {
        width: 100%;
        border-top: none;
    }

    #selfie {
        width: 100%;
    }

    #workgrid {
        grid-template-columns: 1fr; 
    }

    .description {
        font-size: 4.1vw;
        line-height: 4.5vw;
        height: 15vw;
    }

    #blmgrid {
        grid-template-columns: 1fr; 
    }

    #blmmockup {
        margin-top: 20vh;
    }

    #dstylegrid {
        grid-template-columns: 1fr;
        width: 95vw;
        row-gap: 5vh; 
    }
    








}

@media only screen and (min-width: 2000px) {
    
    p1 {
        font-size: 160px;
    }
    
}